<header id="Headboard">
    <div class="anything">
        <div class="headtop">
            <nav class="nav">
                <ul class="menu">
                    <li>
                        <a (click)="inicio()" id="inicio">Inicio</a>
                    </li>
                    <li>
                        <a (click)="comentarios()" id="close-button">Comentarios</a>
                    </li>
                    <li>
                        <a (click)="contacto()" id="close-button">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>