<header id="Headboard">
    <div class="anything">
        <div class="headtop">
            <nav class="nav">
                <ul class="menu">
                    <li>
                        <a (click)="index()" id="inicio">Inicio</a>
                    </li>
                    <li>
                        <a (click)="comments()" id="close-button">Comentarios</a>
                    </li>
                    <li>
                        <a (click)="contact()" id="close-button">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>